/* Anime font style*/

@import url('https://fonts.googleapis.com/css2familty=Bungee&display=swap');

body {
    background-color: #0d0d0d;
    color: #b2ffb2;
    font-family: 'Bungee', cursive;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1a1a1a;
    margin: 50px auto;
    padding: 20px;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 0 15px #004d00;
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #00cc68

}

button {
    background-color: #00cc66;
    color: black;
    margin: 2px 5px;
    padding: 5px 10px;
    border: none;
    font-family: 'Bungee', cursive;
    border-radius: 5px;

}

button:hover {
    background-color: #00994d;
}

.error-message {
    color:red;

}


